*{
	margin:0;
	padding:0;
}

#page{
	width:800px;
	margin:40px auto 60px;
	
}

div{
	display:block
	
	
}
h2{
	
	
}
#name{
	font-style: bold;
	
	
}
#number{
	font-family:Courier;
	font-style:bold;
	font-size:30px;
	
}
#myself{
	font-family:Verdana;
	font-size:30px;
	
}

.picture{ 
	position:absolute;
	top: 5%;
	right: 6%;
	height:200px;
	width: 200px;
	
}
section{
	float: left;
	left:0.1vw;
	font-style:italic;
    position:relative;	
	font-weight:bold;
	font-size:18px;
	text-align:right;
	margin: 0 1.5%;
	width:20vw;
	margin-bottom: 2%;
	padding:0 26px 0 0;
	height:100px;
	border-right: 1px solid black;
	
}
aside{
	clear:both;
	text-align:left;
	left:26vw;
	position:relative;
	top: -6.5vh;
	width: 50vw;

}
